@import "tailwindcss";

@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.galleryItem{
  @apply lg:col-span-4 h-56 sm:h-64
}

.galleryItem2{
  @apply lg:col-span-6 h-72 sm:h-80
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  @apply mx-auto w-full max-w-[1200px] max-md:px-6
}
.button-group{
  @apply text-3xl transition font-bold rounded-3xl text-white shadow-[5px_5px_35px_15px_rgba(59,_130,_246,_0.5)] py-5 px-10 cursor-pointer hover:bg-[rgba(59,_130,_246,_0.5)] w-full
}

.button-group:active{
  @apply scale-95 
}

.input-field {
  @apply w-full border border-transparent rounded px-2 py-2;
}

.input-field-error {
  @apply border-red-500;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoIMG{
  @apply bg-white rounded-full p-0.5 w-6 h-6 hover:scale-110 transition-transform
}

/* Hide horizontal scrollbar – optional */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.input-group {
  @apply relative my-[30px] w-full border-b border-white;
}

.input-group label {
  @apply absolute left-[5px] top-1/2 -translate-y-1/2 text-[22px] text-white pointer-events-none transition duration-300 ease-in-out;
}

.input-group input {
  @apply w-full h-[50px] text-[22px] text-white px-[5px] bg-transparent outline-0;
}

/* float on focus OR when not empty */
.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
  @apply -translate-y-14;
}