@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.input-group{
  @apply relative my-[30px] border-b border-white w-full
}

.input-group label{
  @apply absolute top-[50%] left-[5px] transition-[0.5s] translate-y-[-50%] text-[22px] pointer-events-none text-white
}

.input-group input{
  @apply w-full text-[22px] h-[50px] text-white px-[5px] bg-transparent outline-0
}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
  @apply top-[-5px]
}